*.o
*~
*.bc
*.swp
*.config
*.creator
*.creator.user
*.files
*.includes
src/zynaddsubfx
src/Tests/runner
src/Tests/runner.cpp
src/Tests/Testing
CMakeCache.txt
CMakeFiles
build
doc/gen/
doc/zynaddsubfx.html
