[submodule "instruments"]
	path = instruments
	url = git://zynaddsubfx.git.sourceforge.net/gitroot/zynaddsubfx/instruments
[submodule "rtosc"]
	path = rtosc
	url = https://github.com/fundamental/rtosc
