[Desktop Entry]
Name=ZynAddSubFX - Jack
Comment=A powerful realtime software synthesizer
Comment[fr]=Un synthétiseur logiciel temps-réel puissant
Comment[pl]=Funkcjonalny syntezator wirtualny czasu rzeczywistego
Keywords=audio;sound;jack;midi;synth;synthesizer;
Exec=zynaddsubfx -I jack -O jack
Icon=zynaddsubfx
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
